body {
    padding: 0;
    margin: 0;
}
html, body, #wrapper {
    height: 100%;
    width: 100%;
}

#input {
    height: 100%;
    width: 40%;
    float:left;
}

#map {
    height: 100%;
    width: 60%;
}
