/* I really don't understand CSS queries yet... */
body {
    padding: 0;
    margin: 0;
}

#input {
    text-align: center;
}

#map {
    height: 540px;
    width: 90%;
    /* http://www.w3.org/Style/Examples/007/center.en.html */
    margin-left: auto;
    margin-right: auto;
}

.container {
    background: white;
    position: relative;
    padding: 15px 40px 20px;
}

/* https://developer.mozilla.org/en-US/docs/Web/Guide/CSS/Media_queries */
/* http://stackoverflow.com/a/10887013/198348 */

@media (max-width: 800px){
    #input {
        bottom: 0;
        height: 20%;
    }

    #map {
        width: 100%;
        height: 80%;
        top: 0;
    }

    #input,
    #map {
        position: fixed;
        left: 0;
        right: 0;
    }

    .container {
        background: white;
        position: relative;
        padding: 0px 0px 0px;
    }
}
